@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");

*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 'Roboto', sans-serif;
    text-transform: capitalize;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size:62.5%;
    &::-webkit-webkit-scrollbar{
        width: 1rem;
    }

    &::-webkit-scrollbar-track{
        background-color: #ffd080;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #000;
    }
    
}
body{
    font-family: "Roboto",sans-serif;
    line-height: 1.4;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}
input,textarea{
    border: none;
    outline: none;
}