//color
$green: rgb(42, 128, 16);
$black: rgba(14, 13, 13, 0.877);
$white: #ffff;
$light-bg: #eee;

///responsive code
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
