.newsletter {
    width: 100%;
    height: 35rem;
    background-color: $gray;
    display: flex;
    justify-content: center;
    .content {
        width: 70%;
        max-width: 100rem;
        min-width: 44rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 4rem;
            padding: 1.5rem;
            text-align: center;
            margin-top: 3rem;
        }
        p {
            width: 100%;
            max-width: 70rem;
            font-size: 1.6rem;
            text-align: center;
            padding: 1.5rem;
            line-height: 2.6rem;
        }
        form {
            width: 100%;
            max-width: 70rem;
            display: flex;
            position: relative;
            margin-bottom: 4rem;
            .email{
                width: 100%;
                min-width: max-content;
                height: 7rem;
                border: 3px solid black;
                border-radius: 50px;
                font-size: 1.8rem;
                text-indent: 18px;
                text-transform: none;
                
            }
            .btn {
                width: 18%;
                min-width: max-content;
                height: 5rem;
                font-size: 1.8rem;
                background-color: $black;
                color: $white;
                border-radius: 50px;
                text-align: center;
                right: 1rem;
                bottom: 1rem;
                position: absolute;
                &:hover {
                    background-color: $white;
                    color: $black;
                    transition: all 0.5s;
                }
            }
        }
    }
}