h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2.5rem;
}
.shop {
    text-align: center;
    width: 86vw;
    .shopping-section {
        width: 50vw ;
        display: flex;
        margin-top: 3rem;
        .allpart {
            border: 0.2rem solid #10221b;
            display: flex;
            flex-direction: column;
            text-align: center;
            .imgpart {
                width: 100%;    
                height: 25rem;
                position: relative;
                overflow: hidden;
                &:hover .imgicon {
                    transform: translateY(-4.5rem);
                     display: block;
                    }
                img {
                    width: 100%;
                    height: 100%;
                }
                .imgicon {
                    position: absolute;
                    z-index: 10;
                    width: 100%;
                    text-align: center;
                    bottom: -4rem;
                    transition: 2s;
                    a {
                        height: 2.5rem;
                        width: 2.5rem;
                        line-height: 3rem;
                        font-size: 1.7rem;
                        background: #10221b;
                        color: #fff;
                        margin: 5px;
                        text-decoration: none;
                        &:hover {
                            background: #219150;
                        }
                    }   
                }   
            
            }
            .textpart {
                height: 15vh;
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                align-items: center;
                margin-top: 0.5rem;
                h4 {
                    font-size: 2rem;
                    color: #10221b;
                }
                
                span {
                    font-size: 1.5rem;
                    color: #219150;
                }
                .staricon {
                    
                    font-size: 12px;
                }
                
            }
        }
        
    }
}

























